<div class="container">
        <div class="row">
                <div class="col-sm-4"><h2>Sign up for YouFuel now</h2>{{ partial "signup.html" .}}</div>                
                <div class="col-sm-4"><div width="75%"><img src="https://d1ix0byejyn2u7.cloudfront.net/drive/images/uploads/headers/Eating_while_driving.jpg"></div></div>                
        </div>
        <div class="row">
                <div class="col-sm-4">
                    <img width="50%" src="https://cdn.shopify.com/s/files/1/0727/6291/products/Screen_Shot_2015-06-01_at_23.34.42_large.png?v=1433198269">
                        
                                        </div>
                <div class="col-sm-4">
                    <h2>Why Consume</h2>
                    <ul>
                        <li>
                            No waiting in line at the petrol station
                        </li>
                        <li>
                            Have fuel delivered wherever you are
                        </li>
                        <li>
                            Choose custom fuel types
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                        <h2>Why Provide</h2>
                        <ul>
                            <li>
                                Extra income within your daily routine
                            </li>
                            <li>
                                    Extremely low startup costs
                            </li>
                            <li>
                                    Get free FuelCoins, become a shareholder
                            </li>
                        </ul>
                </div>
                
        </div>
    </div>